<template>
  <div>
    <h1>{{ message }}</h1>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component,Prop } from 'vue-property-decorator'

@Component({})
class HelloWorld extends Vue {
  @Prop({ default: '' }) message!: string
}

export default HelloWorld
</script>