<template>
  <div class="home">
    <img alt="Vue logo" src="../../@utility/files/images/logo.png">
    <HelloWorld :message="'Vue.js Troy Architecture Starter Template'" />
  </div>
</template>

<script>
import HelloWorld from '@/usecase/@component/data-structures/hello-world.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
